*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header-1 {
    background-image: url(../images/banner/banner1.png);
    width: auto;
    height: 807px;
}
.banner {
    text-align: right;
    padding-top: 78px;
    
}
.banner-title {
    font-size: 36px;
    width: 370px;
    margin-left: 1000px;
    margin-top: 82px;
}
.banner-text {
    font-size: 14px;
    width: 364px;
    margin-left: 1000px;
    margin-top: 34px;
    line-height: 2;
}
.btn-title {
    height: 61px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 18px;
    border: 0;
    padding: 18px 30px;
    margin-top: 30px;
    margin-right: 154px;
}
.banner-mid{
    padding: 200px 0;
   
}
.mid-content{
    
}
.img-left {
    width: 35%;
    
    margin-left: 175px;
}
.content-right {
    width: 39%;
    margin-right: 123px;
    line-height: 2;
    margin-top: 177px;
}
.clear::after{
    content:"";
    clear: both;
    display: block;
}
.left{
   float: left; 
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
.mid-container{
    max-width: 1300px;
    margin: auto;
}
h2{
    font-size: 30px;
}
.about{

}
.section-title{
   
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 120px;
    text-align: center;
}
.about-container {
    display: flex;
    justify-content: space-around;
    line-height: 2;
}